.app-layout {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.app-layout .app-layout-container {
  height: 100%;
  display: flex;
}

.app-layout .app-layout-container .app-layout-content {
  margin-left: 0;
  width: 100%;
  margin-bottom: 48px;
}

.app-layout .app-layout-container .app-layout-content header {
  height: 96px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.app-layout .app-layout-container .app-layout-content section {
  margin-top: 24px;
  margin-bottom: 48px;
}

@media (min-width: 1024px) {
  .app-layout .app-layout-container .app-layout-content {
    margin-left: 24px;
  }
}

@media (min-width: 1536px) {
  .app-layout .app-layout-container .app-layout-content {
    margin-left: 48px;
  }
}
