.app-layout {
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.app-layout .app-layout__container {
  height: 100%;
  display: flex;
}

.app-layout .app-layout__container .app-layout__content {
  margin-left: 0;
  width: 100%;

  /* ml-0 w-full lg:ml-6 2xl:ml-12 mb-12 */
}

.app-layout .app-layout__container .app-layout__content header {
  height: 96px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.app-layout .app-layout__container .app-layout__content section {
  margin-top: 24px;
  margin-bottom: 48px;
}
