.profile-container {
  position: relative;
}

.profile-container .profile-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.profile-container .profile-content .profile-infor {
  display: flex;
  flex-direction: column;
  align-items: flex-end
}

.profile-container .profile-content .profile-infor span:nth-child(2) {
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-500);
}

.profile-container .profile-content img {
  width: 48px;
  height: 48px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.profile-container .profile-content .profile-preview {
  width: 48px;
  height: 48px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  background-color: var(--zinc-500);
  border-radius: 50%;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border: 2px solid var(--gray-900);
}

