.input__container {
  height: 40px;
  padding: 0 16px;

  font-size: 14px;
  line-height: 20px;

  background-color: var(--black-100);
  border: 1px solid var(--gray-900);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.input__container:disabled {
  cursor: not-allowed;
  background-color: rgba(39, 39, 42, 0.8);
  color: rgba(255, 255, 255, 0.5);
}

.input__container:focus {
  outline: 2px solid var(--green-600);
}

.input__container::placeholder {
  color: var(--gray-700);
}
