.not-found-container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.not-found-container h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.not-found-container a {
  color: var(--green-500);
  text-decoration: underline;
}
