.breadcrumbs-container {
  margin-bottom: 48px;
  display: block;
}

.breadcrumbs-container ol {
  display: flex;
}

.breadcrumbs-container ol .active-link {
  font-weight: 500;
  color: var(--green-500);
}

.breadcrumbs-container ol li svg {
  margin: 0 8px;
  display: inline-block;
}
